HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Compiled files ###
*.class

### Package files ###
*.jar
*.war
*.ear

### Temporary files ###
*.log
hs_err_pid*

### Operating system files ###
.DS_Store
Thumbs.db

### Binary files ###
*.bin

### Test files ###
*.hprof